*{
    background-color: black;
}
ul{
    margin-left: 10%;
    margin-right: 10%;
}
ul{
    background-color: white;
    border-radius: 20px;
    margin-left: 42%;
    margin-right: 42%;
}
li{
    display: inline;
    border-radius: 20px;
    margin: auto 0%;
}
a:hover{
    background-color: black;
}
a{
    color: white;
}
h1{
    float: left;
    color: yellow;
}
.default-border{
    border-radius: 20px;;
}
.grid-knives{
    margin-left: 25%;
    margin-right: 30%;
    gap: 20px;
    background-color: black;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    border-radius: 100px;
}
.grid-item-knife{
    border-radius: 100%;
}
.grid-gallery{
    margin-left: 25%;
    margin-right: 30%;
    align-content: center;
    display: grid;
    gap: 10px;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    border-radius: 20px;
}
.grid-item1{
    border-radius: 20px;
    grid-row: 1;
}
.grid-item2{
    grid-row: 1;
}
.grid-item3{
    grid-row: 1;
}
.grid-item4{
    grid-row: 1;
}
.grid-item5{
    grid-row: 1;
}
.grid-item6{
    grid-row: 2;
}
.grid-item7{
    grid-row: 2;
}
.grid-item8{
    grid-row: 2;
}
.grid-item9{
    grid-row: 2;
}
.grid-item10{
    grid-row: 2;
}
.grid-item11{
    grid-row: 3;
}
.grid-item12{
    grid-row: 3;
}
.grid-item13{
    grid-row: 3;
}
.grid-item14{
    grid-row: 3;
}
.grid-item15{
    grid-row: 3;
}